doctype
html
  head
    h1 Welcome!
    h3 Use this dkim validator to check whether your dkim settings are configured correctly
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    a(href="mailto:8c005bd79c47d00bdb24@cloudmailin.net") Start Here
          
    